.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 332px;
    padding-bottom: 20px;
}
img {
    margin: 16px 16px 0px 16px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 20px;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: hsl(212, 45%, 89%);
}
h1,p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 24px;
}
h1 {
    font-size: 24px;
}
p {
    color: hsl(220, 15%, 55%);
}